<div class="salt-contrast-calculator">
    <div class="color left">
        <input maxlength="20" placeholder="{{{msg-salttoolbox-contrast-color1input}}}"/>
        <div class="color-show"></div>
    </div>
    <div class="color right">
        <input maxlength="20" placeholder="{{{msg-salttoolbox-contrast-color2input}}}"/>
        <div class="color-show"></div>
    </div>
    <div class="res">
        <div class="res-show">{{{msg-salttoolbox-contrast-res}}}</div>
        <div class="res-show big">{{{msg-salttoolbox-contrast-resbig}}}</div>
        <div class="res-text"></div>
    </div>
</div>