<div class="salt-miner-simulator"><span class="before">{{{msg-salttoolbox-author}}}</span>
<ul class="resul"></ul>
<div class="sim s1"><span class="icon"></span>{{{msg-salttoolbox-miner-simbtn}}}</div>
<div class="sim s10"><span class="icon"></span>{{{msg-salttoolbox-miner-s10btn}}}</div><span class="after">{{{msg-salttoolbox-topnav-miner}}}</span>
</div>