<div class="salt-textDiffTool">
    <div class="title" style="font-weight:bold;">
        {{{msg-salttoolbox-textdiff-prefix}}}
        <span class="subtitle" title="{{{msg-salttoolbox-textdiff-aboutlevenshtein}}}"></span>
    </div>
    <div class="message">{{{msg-salttoolbox-textdiff-ready}}}</div>
    <textarea class="origin"></textarea><textarea class="edited"></textarea>
    <div title="{{{msg-salttoolbox-textdiff-switch}}}" class="result" style="white-space:pre-wrap;"></div>
    <button type="submit">{{{msg-salttoolbox-textdiff-start}}}</button>
</div>