<div class="salt-acquire-wealth-simulator">
    <span class="before">{{{msg-salttoolbox-author}}}</span>
    <ul class="resul"></ul>
    <input class="input" placeholder="{{{msg-salttoolbox-wealth-simipt}}}"/>
    <div class="sim">{{{msg-salttoolbox-wealth-simbtn}}}</div>
    <div class="cls">{{{msg-salttoolbox-wealth-clsbtn}}}</div>
    <div class="resshow">{{{msg-salttoolbox-wealth-resshow}}}</div>
    <span class="after">{{{msg-salttoolbox-topnav-wealth}}}</span>
</div>