.user-score-credit {
  color: #fff;
  background: #777;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-shadow: #777 0 0 2px;
  margin: auto 3px;
}
.lv00 {
  background: #e7e7e7;
  color: #bbb;
  text-shadow: none;
}
.lv01 {
  background: #aaa;
}
.lv01-5 {
  background: #449937;
}
.lv02 {
  background: #4e9ecc;
}
.lv03 {
  background: #bfad48;
}
.lv04 {
  background: #bf7d32;
}
.lv05 {
  background: #bf5132;
}
.lv06 {
  background: #bf2727;
}
.lv07 {
  background: #cc2673;
}
.lv08 {
  background: #a813b2;
}
.lv09 {
  background: #7313b2;
}
.lv10 {
  background: #000;
}
