.user-score-level::before {
  content: "Lv.";
  margin-left: -5px;
  margin-right: 4px;
  padding: 1px 3px 1px 5px;
  background: #999;
  border-radius: 5px 0 0 5px;
}
.lv00:before {
  background: #eee;
}
.lv01:before {
  background: #ccc;
}
.lv01-5:before {
  background: #73cc65;
}
.lv02:before {
  background: #6fc2f2;
}
.lv03:before {
  background: #d9c75e;
}
.lv04:before {
  background: #d99447;
}
.lv05:before {
  background: #e67252;
}
.lv06:before {
  background: #e64545;
}
.lv07:before {
  background: #f24395;
}
.lv08:before {
  background: #cd30d9;
}
.lv09:before {
  background: #9530d9;
}
.lv10:before {
  background: #555;
}
