.salt-textDiffTool {
	font-size: 1rem;
}

.salt-textDiffTool .title {
	width: 100%;
	font-size: 1.2rem;
}

.salt-textDiffTool .title .subtitle {
	display: inline-block;
	font-size: 1rem;
}

.salt-textDiffTool .message {
	width: 100%;
	display: block;
	height: 1rem;
	font-size: 0.875rem;
	line-height: 1rem;
}

.salt-textDiffTool .origin,
.salt-textDiffTool .edited {
	width: 50%;
	height: 25rem;
	display: inline-block;
	vertical-align: top;
	resize: vertical;
}

.salt-textDiffTool .result {
	overflow-y: auto;
	width: 100%;
	min-height: 5rem;
	max-height: 85vh;
	padding: 5px;
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
	border: 2px solid #999;
}

.salt-textDiffTool .result .delete {
	color: #333;
	background-color: #fddd;
	text-decoration: line-through;
}

.salt-textDiffTool .result .insert {
	color: #333;
	background-color: #dfdd;
	text-decoration: underline;
}

.salt-textDiffTool .result .normal {
	color: #222;
}

.salt-textDiffTool .result.anticopy .delete {
	color: #666;
}

.salt-textDiffTool .result.anticopy .insert {
	background-color: #cfce;
	text-decoration: none;
}

.salt-textDiffTool .result.anticopy .normal {
	color: crimson;
	text-decoration: underline;
}

.salt-textDiffTool .result:after {
	content: attr( title );
	left: 0;
	right: 0;
	top: -1.5em;
	height: 1em;
	position: absolute;
	text-align: right;
	transition: 0.3s ease;
}

.salt-textDiffTool .result:hover:after {
	top: 0;
}

@media screen and ( max-width: 768px ) {
	.salt-textDiffTool .origin,
	.salt-textDiffTool .edited {
		width: 100%;
		height: 15rem;
	}
}
