
/**/
#saltContrastCalculator * {
        box-sizing: border-box;
}
#saltContrastCalculator .color,
#saltContrastCalculator .res {
        display: inline-block;
        padding: 5px;
        margin: 0 4px;
        border: 4px solid #ccc6;
        border-radius: 4px;
        text-align: center;
        vertical-align: middle;
}
#saltContrastCalculator .color {
        width: calc(50% - 12px);
}
#saltContrastCalculator .color.left {
        margin-right: 8px;
}
#saltContrastCalculator .color.right {
        margin-left: 8px;
}
#saltContrastCalculator .res {
        width: calc(100% - 8px);
        margin-top: 4px;
}
#saltContrastCalculator input,
#saltContrastCalculator .color-show,
#saltContrastCalculator .res-show,
#saltContrastCalculator .res-text {
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        border-radius: 4px;
        margin-top: 4px;
        font-size: 1rem;
        text-align: center;
}
#saltContrastCalculator .res-show {
        color: var(--color);
        background-color: var(--back-color);
}
#saltContrastCalculator .big {
        font-size: 1.5rem;
}
#saltContrastCalculator .res-text {
        height: 2rem;
        line-height: 2rem;
}
