
/*  */
.salt-contrast-calculator * {
	box-sizing: border-box;
}

.salt-contrast-calculator .color,
.salt-contrast-calculator .res {
	display: inline-block;
	padding: 5px;
	margin: 0 4px;
	border: 4px solid #ccc6;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
}

.salt-contrast-calculator .color {
	width: calc( 50% - 12px );
}

.salt-contrast-calculator .color.left {
	margin-right: 8px;
}

.salt-contrast-calculator .color.right {
	margin-left: 8px;
}

.salt-contrast-calculator .res {
	width: calc( 100% - 8px );
	margin-top: 4px;
}

.salt-contrast-calculator input,
.salt-contrast-calculator .color-show,
.salt-contrast-calculator .res-show,
.salt-contrast-calculator .res-text {
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	border-radius: 4px;
	margin-top: 4px;
	font-size: 1rem;
	text-align: center;
}

.salt-contrast-calculator .res-show {
	color: var( --color );
	background-color: var( --back-color );
}

.salt-contrast-calculator .big {
	font-size: 1.5rem;
}

.salt-contrast-calculator .res-text {
	height: 2rem;
	line-height: 2rem;
}
