.client-js .topsign{
	position: relative;
	width: 100%;
	height: 65px;
	overflow: hidden;
	text-align: center;

	> * {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
	}
	
}

.client-nojs .topsign {
	display: none;
}
